<dom-module id="app-dev">
  <template>
    <link rel="stylesheet" href="../styles/main.css">

    <neon-animated-pages id="pages" class="flex" selected="0" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <template is="dom-bind" id="app">

        <paper-drawer-panel id="paperDrawerPanel">
          <!-- Drawer Scroll Header Panel -->
          <paper-scroll-header-panel drawer fixed>

            <!-- Drawer Toolbar -->
            <paper-toolbar id="drawerToolbar">
              <span class="paper-font-title">Menu</span>
            </paper-toolbar>

            <!-- Drawer Content -->
            <paper-menu class="list" attr-for-selected="data-route" selected="[[route]]">
              <a data-route="home" href="/" on-click="onDataRouteClick">
                <iron-icon icon="home"></iron-icon>
                <span>Home</span>
              </a>

              <a data-route="users" href="/users" on-click="onDataRouteClick">
                <iron-icon icon="info"></iron-icon>
                <span>Users</span>
              </a>

              <a data-route="contact" href="/ofertes" on-click="onDataRouteClick">
                <iron-icon icon="mail"></iron-icon>
                <span>Ofertes Test</span>
              </a>
            </paper-menu>
          </paper-scroll-header-panel>

          <!-- Main Area -->
          <paper-scroll-header-panel main condenses keep-condensed-header>

            <!-- Main Toolbar -->
            <paper-toolbar id="mainToolbar" class="tall">
              <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
              <span class="flex"></span>

              <!-- Toolbar icons -->
              <paper-icon-button icon="refresh"></paper-icon-button>
              <paper-icon-button icon="search"></paper-icon-button>

              <!-- Application name -->
              <div class="middle middle-container center horizontal layout">
                <div class="app-name">Polymer Starter Kit</div>
              </div>

              <!-- Application sub title -->
              <div class="bottom bottom-container center horizontal layout">
                <div class="bottom-title paper-font-subhead">The future of the web today</div>
              </div>

            </paper-toolbar>

            <!-- Main Content -->
            <div class="content">
              <iron-pages attr-for-selected="data-route" selected="{{route}}">

                <section data-route="home">

                  <paper-material elevation="1" class="paper-font-body2">
                    <a href="/ofertes/1">Rob</a>
                    <employee-list></employee-list>
                  </paper-material>

                </section>

                <section data-route="users">
                  <ofertes-llistat></ofertes-llistat>
                </section>

                <section data-route="oferta-completa">
                  <oferta-completa identificacio={{params.id}}></oferta-completa>
                </section>

                <section data-route="ofertes">
                  <oferta-vehicle></oferta-vehicle>
                </section>

              </iron-pages>
            </div>
          </paper-scroll-header-panel>
        </paper-drawer-panel>

      </template>
      <oferta-completa hero-id="hero" ></oferta-completa>
    <neon-animated-pages>
  </template>

  <script>
    Polymer({
      is: 'app-dev'
    });
  </script>

</dom-module>
