<dom-module id="ofertes-app">

  <style>
    :host {
      display: block;
      overflow: hidden;
    }
    paper-scroll-header-panel {
        height: 100%
    }
    .fixed {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #03A9F4;
    }
    .content {
      background-color: #03A9F4;
      width: 100%;
      height: 100%;
    }
    .espai {
      margin-top: 50px;
    }
    .filtres {
      margin: 15px;
      paper-checkbox {
        margin-top: 10px;
      }
    }
  </style>

  <template>


    <paper-drawer-panel right-drawer drawer-width="210px" responsive-width="1500px">
      <paper-header-panel drawer>
        <paper-toolbar>
          <div>Filtros</div>
        </paper-toolbar>
        <div>
          <h4>Filtros</h4>
          <div class="flex layout vertical filtres">
            <paper-checkbox>Opcio 1</paper-checkbox>
            <paper-checkbox>Opcio 2</paper-checkbox>
            <paper-checkbox checked>Opcio 3</paper-checkbox>
            <paper-checkbox checked>Opcio 4</paper-checkbox>
            <paper-checkbox checked>Opcio 5</paper-checkbox>
          </div>
        </div>

      </paper-header-panel>
      <paper-scroll-header-panel main>
        <paper-toolbar>
          <paper-icon-button icon="filter-list" paper-drawer-toggle></paper-icon-button>
          <span>Ofertas > Vehiculos > Cotxes</span>
        </paper-toolbar>
        <div class="flex layout vertical content">
          <div class="espai"></div>
          <ofertes-llistat></ofertes-llistat>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

  </template>

  <script>
    Polymer({
      is: 'ofertes-app',
      _computeListWidth: function(isMobile) {
        // when in mobile screen size, make the list be 100% width to cover the whole screen
        return isMobile ? '100%' : '33%';
      },
      _listTap: function() {
        this.$.mainDrawerPanel.closeDrawer();
      }
    });
  </script>

</dom-module>
