<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    // Routes
    page('/', scrollToTop, function() {
      app.route = 'home';
    });

    page('/users', scrollToTop, function() {
      app.route = 'users';
    });

    page('/ofertes/:id', function(data) {
      /*
      app.route = 'oferta-completa';
      app.params = data.params;
      */
      //lol = document.querySelector('#pages');
      //lol.selected = 1;
    });

    page('/ofertes', scrollToTop, function() {
      app.route = 'ofertes';
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
