doctype html
html(lang="es" ng-app)
  head
    title Testing
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Iberonline' )
    //Bootstrap Theme
    link(href="/public/css/estils.css", rel="stylesheet")
    script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" )
    script( src="/socket.io/socket.io.js" )
    script( src="/public/js/main-io.js" )
    
  body()
    h2 He agregat lineas i puc escriure una mica de jade per animarte a veure el codi.
    p Aixo es una mostra d'iteracions
    ul
      each val in [1, 2, 3, 4, 5]
        li= val
    - var n = 0
    ul
      while n < 4
        li= n++
