doctype html
html
  head
    // 1. Load platform support before any code that touches the DOM.
    script(src='bower_components/webcomponentsjs/webcomponents.min.js')
    // 2. Load the component using an HTML Import
    link(rel='import', href='elements/my-element.html')
  body
    // 3. Declare the element by its tag.
    myelement
