<dom-module id="oferta-completa">
  <template>
  <style is="custom-style">
    paper-toolbar {
      --paper-toolbar-background: transparent;
      --paper-toolbar-color: black;
    }
  </style>

    <style>
    :host {
      display: block;
    }
    .fixed {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #ffff8d;
    }
    .card {
      position: relative;
      margin: 200px 100px 0;
      height: 700px;
    }

    </style>
    <iron-ajax url="../../json_test/oferta.json" last-response="{{oferta}}" auto></iron-ajax>
    <div id="placeholder" class="fit"></div>

    <div flex vertical layout id="container" class="fixed">
      <paper-toolbar>
        <paper-icon-button icon="arrow-back" on-tap="backAction"></paper-icon-button>
        <div class="title"></div>
        <paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>
      </paper-toolbar>

      <div flex layout vertical>
        <h1>{{oferta.title}}</h1>
        
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'oferta-completa',
      behaviors: [
        Polymer.NeonSharedElementAnimatableBehavior
      ],
      properties: {

        animationConfig: {
          value: function() {
            return {
              'entry': [{
                name: 'ripple-animation',
                id: 'ripple',
                toPage: this
              }, {
                name: 'fade-out-animation',
                node: this.$.placeholder,
                timing: {
                  delay: 250
                }
              }, {
                name: 'fade-in-animation',
                node: this.$.container,
                timing: {
                  delay: 50
                }
              }],
              'exit': [{
                name: 'opaque-animation',
                node: this.$.placeholder
              }, {
                name: 'fade-out-animation',
                node: this.$.container,
                timing: {
                  duration: 0
                }
              }, {
                name: 'reverse-ripple-animation',
                id: 'reverse-ripple',
                fromPage: this
              }]
            };
          }
        },



        identificacio: Number,
        oferta:{
          type: Object,
          notify: true
        }
      },

      sharedElements: {
        value: function() {
          return {
            'ripple': this.$.placeholder,
            'reverse-ripple': this.$.placeholder
          };
        }
      },

      backAction: function() {
        lol = document.querySelector('#pages');
        lol.selected = 0;
      },

    });
  </script>

</dom-module>
