<dom-module id="oferta-vehicle">
  <template>
    <style>
      .image {
        width: 320px;
        height: 197px;
      }
      paper-material {
          width: 320px;
          height: 360px;
          margin-left: 12px;
          margin-right: 12px;
          margin-bottom: 35px;
          display: inline-block;
          float: left;
          background-color: #fff;
      }
      .favorit {
        position:absolute;
        float: right;
        right: 20px;
        top: -25px;
      }
      .button {
        position:absolute;
        float: right;
        right: 20px;
        top: 170px;
      }
      .content {
        padding: 20px;
        font-weight: 300;
        border-radius: 0 0 2px 2px;
      }
      .action {
        bottom: 0;
      }
      .blau {
        background-color: #03a9f4;
      }
      .blau_fosc {
        background-color: #4058FF;
      }

      /*responsibe*/
      @media (max-width: 620px) {
        .image {
          width: 100% !important;
          height: 250px;
        }
        .favorit {
          position:absolute;
          float: right;
          right: 20px;
          top: 10px;
        }
        .button {
          position:absolute;
          float: right;
          right: 20px;
          top: 210px;
        }
        paper-material {
          width: 100% !important;
          margin-left: 0px;
          margin-right: 0px;
          height: 400px;
        }
        #androidify {
          height: 64%;
        }
      }
    </style>
    <paper-material elevation="1" class="paper flex layout vertical">
        <div class="flex">
          <iron-image sizing="cover" src="{{oferta.img_portada}}" class="image"></iron-image>
          <div class="content">
            <b>{{oferta.title}}</b>
            <p>{{oferta.descripcio}}</p>
          </div>
        </div>
        <paper-fab mini icon="star" title="heart" on-tap="openOferta" tabindex="0" class="blau_fosc favorit"></paper-fab>
        <paper-fab icon="arrow-forward" title="heart" on-tap="openOferta" tabindex="0" class="blau button"></paper-fab>

        <div class="action layout horizontal">
          <paper-button class="flex">Denunciar</paper-button>
          <paper-button class="flex">Ver oferta</paper-button>
        </div>
    </paper-material>

  </template>

  <script>
    Polymer({
      is: 'oferta-vehicle',
      properties: {
        oferta:{
          type: Object,
          notify: true
        }
      },
      openOferta: function(){
        console.log("oferta:"+this.oferta.id);
        pages = document.querySelector('#pages');
        pages.selected = 1;

      }
    });
  </script>

</dom-module>
