<dom-module id="ofertes-llistat">
  <template>
    <style>
      .oferta {
        margin-top: 15px;
      }
    </style>
    <iron-ajax url="../../json_test/ofertes.json" last-response="{{ofertes}}" auto></iron-ajax>
    <template is="dom-repeat" items="{{ofertes}}">
      <oferta-vehicle oferta="{{item}}"></oferta-vehicle>
    </template>
  </template>

  <script>
    Polymer({
      is: 'ofertes-llistat'
    });
  </script>

</dom-module>
